@import "tailwindcss";

@font-face {
  font-family: 'TT Tsars B';
  src: url('../public/fonts/TT-Tsars-B-Trial-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-style: swap;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  color: #fff;
}